.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: var(--gap);

    width: 100%;
}

.page-link {
    opacity: 1 !important;
    pointer-events: all !important;
}