.marketplace-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;
}

.marketplace-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    max-width: 50%;

    border-radius: 10px;

    overflow: hidden;
}

.marketplace-item > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
    padding: 10px;

    background-color: var(--background-color);
}

.marketplace-item h3 {
    color: var(--gold);
}

.marketplace-item img {
    max-height: 10rem;
    height: 100%;
    width: 100%;

    object-fit: cover;
}

@media (max-width: 900px) {
    .marketplace-item {
        max-width: 100%;
    }
}