.leaderboard {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.player {
    background-color: var(--background-color);

    display: flex;
    flex-wrap: wrap;

    gap: var(--gap);
    padding: var(--gap);
    border-radius: var(--gap);
}

.player-info, .player-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-info {
    gap: 1rem;
}

.player-info h2, .player-data h3 {
    margin: 0;
}

.player-info h2 {
    font-size: 5vmin;
}

.player-data h3 {
    font-size: 4vmin;
}

.player-name {
    color: var(--primary);
}

.player-points {
    color: var(--gold);
}

.player-info img {
    width: 8vmax;
    max-width: 6rem;

    border-radius: var(--gap);
}

.player-data {
    flex-grow: 1;
}