:root {
    --primary: #039BE5;

    --gold: #FFC107;
    --green: #8BC34A;
    --red: #F44336;

    --gap: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}

article {
    margin: 0;
    gap: var(--gap);

    display: flex;
    flex-direction: column;
}

.error {
    color: var(--red);

    text-align: center;
}

@media (max-width: 900px) {
    p, body {
        font-size: 4vmin;
    }

    h3 {
        font-size: 4.5vmin;
    }
    h2 {
        font-size: 5vmin;
    }
}